<app-menu></app-menu>
<div class="container-fluid pt-3">
    <div class="row">
        <!--Left Side of the screen-->
        <div class="col-12 col-lg-9">
            <div class="card-info">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <h1 class="titulo">Crud Users</h1>
                        <h3 class="subtitulo">More efficient management of <span>users</span> and their
                            benefits.
                            No more old and unusable systems, now with <span>Crud Users</span> your
                            work is up to
                            3x faster and simpler. <br>
                            Check out a summary of the information in our <span>Dashboard</span>
                        </h3>


                        <app-button textButton="Start" routerLink="/crud"></app-button>
                    </div>
                    <div class="col-12 col-md-4">
                            <img src="../../../assets/dashboard.png" width="100%">
                    </div>
                </div>
            </div>
            
            <div class="row mt-4" >

                <!--Left Spinner Card-->
                <div class="col-6" id="CardDisplay">
                    <div class="card-info">
                        <div class="row">
                            <div class="col-7">
                                <p class="texto-card">Users registered in the system</p>
                                <p class="numero-card">{{userCount}}/{{maxUsers}}</p>
                                
                            </div>
                            <div class="col-5" id="spinnerDisplay">
                                <mat-progress-spinner 
                                 class="example-margin mx-auto color-spinner"
                                 mode="determinate" 
                                 [value]="(userCount / maxUsers)*100"></mat-progress-spinner>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <!--Right Spinner Card-->
                <div class="col-6" id="CardDisplay">
                    <div class="card-info">
                        <div class="row">
                            <div class="col-7">
                                <p class="texto-card">Users with registered benefits</p>
                                <p class="numero-card">{{planCount}}/{{maxPlanCount}}</p>
                                
                            </div>
                            <div class="col-5" id="spinnerDisplay">
                                <mat-progress-spinner 
                                class="example-margin mx-auto color-spinner" 
                                mode="determinate" 
                                [value]="(planCount / maxPlanCount)*100"></mat-progress-spinner>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <!--Registered User Card-->
                <div class="col-12 mt-4" id="lastRegistered">
                    <div class="card-info">
                        <h3 class="titulo">Latest registered users</h3>

                        <hr class="hr">

                        <div class="row" id="lastRegisteredInfo" *ngFor="let user of lastUser;let i = index">
                            <div class="col-1">
                                <mat-icon>account_circle</mat-icon>
                            </div>
                            <div class="col-1">
                                <p class="texto-p">{{ i + 1 }}</p>
                            </div>
                            <div class="col">
                                <p class="texto-p">{{user.name}}</p>
                            </div>
                            
                            <div class="col" >
                                <p class="texto-p" id="sector">{{user.role}}</p>
                            </div>
                            <hr class="hr">
                        </div>
                    </div>
                </div>

            </div>

            

        </div>

        <!--Right Side of the screen-->
        <div class="col-12 col-lg-3">
            <div class="card-info" >
                <div class="container-perfil">
                    <img src="../../../assets/Perfil_tokyo.jpg" class="img-perfil" >
                    <h4>Welcome</h4>
                    <h5>{{ userName }}</h5>
                    <li> <mat-icon>location_on</mat-icon> Portugal </li>
                </div>

                <hr class="hr">
                <p class="texto-p">Learn as if you will live forever, live like you will die tomorrow.</p>
                <hr class="hr">
                <li><mat-icon>person</mat-icon>Manage users</li>
                <li><mat-icon>loyalty</mat-icon>Add benefits</li>
                <li><mat-icon>format_list_bulleted</mat-icon>Check records</li>
                <li><mat-icon>delete</mat-icon>Delete Users</li>
                
            </div>
        </div>
    </div>
</div>